deb http://ftp.dk.debian.org/debian bookworm main contrib

deb http://ftp.dk.debian.org/debian bookworm-updates main contrib

# security updates
deb http://security.debian.org bookworm-security main contrib

# non-free firmware
deb http://deb.debian.org/debian bookworm main non-free non-free-firmware contrib
# non-free firmware updates
deb http://deb.debian.org/debian bookworm-updates main non-free non-free-firmware contrib
# non-free firmware security updates
deb http://deb.debian.org/debian-security/ bookworm-security main non-free non-free-firmware contrib
# backports
deb http://deb.debian.org/debian bookworm-backports main contrib
