deb http://ftp.dk.debian.org/debian bookworm main contrib

deb http://ftp.dk.debian.org/debian bookworm-updates main contrib

# security updates
deb http://security.debian.org bookworm-security main contrib

# Firmware
deb http://ftp.dk.debian.org/debian bookworm non-free-firmware
